@import "tailwindcss";

@theme {
  --color-background: #0F172A;
  --color-surface: #020617;
  --color-surface-muted: #45425A;
  --color-accent: #6366F1;
  --color-accent-hover: #4F46E5; 
  --color-text-primary: #E5E7EB;
  --color-text-muted: #9CA3AF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #0F172A inset !important;
    -webkit-text-fill-color: #E5E7EB !important;
    transition: background-color 5000s ease-in-out 0s;
}